.container {
  position: relative;
  width: 200px; 
  height: 200px; 
  margin: 0 auto; 
}

.main {
  position: absolute;
  width: 200px; 
  height: 200px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 15;
  

}

.main img {
  width: 100%; 
  height: 100%; 
  border-radius: 50%; 
  border: 2px;
  border-style:groove;
  border-color: aqua;
  opacity: 1;
  box-shadow: 0 0 20px aqua;
}

.orbit-image {
  position: absolute;
  width: 30px; 
  height: 30px;
  top: 50%;
  left: 50%; 
}

.orbit-image img {
  width: 100%; 
  height: 100%; 
  border-radius: 50%; 
}

.orbit1 {
  animation: rotate1 2.4s linear infinite; 
}

.orbit2 {
  animation: rotate2 6.16s linear infinite; 
}

.orbit3 {
  animation: rotate3 10s linear infinite; 
}

.orbit4 {
  animation: rotate4 18.8s linear infinite;
}

.orbit5 {
  animation: rotate5 50s linear infinite; 
}

.orbit6 {
  animation: rotate6 80s linear infinite; 
}

.orbit7 {
  animation: rotate7 120s linear infinite;
}

.orbit8 {
  animation: rotate8 160s linear infinite;
}

.orbit9 {
  animation: rotate9 200s linear infinite;
}



@keyframes rotate1 {
  0% {
      transform: rotate(0deg) translate(120px, 0); 
  }
  100% {
      transform: rotate(360deg) translate(120px, 0); 
  }
}

@keyframes rotate2 {
  0% {
      transform: rotate(0deg) translate(130px, 0); 
  }
  100% {
      transform: rotate(360deg) translate(130px, 0); 
  }
}

@keyframes rotate3 {
  0% {
      transform: rotate(0deg) translate(140px, 0); 
  }
  100% {
      transform: rotate(360deg) translate(140px, 0); 
  }
}

@keyframes rotate4 {
  0% {
      transform: rotate(0deg) translate(150px, 0); 
  }
  100% {
      transform: rotate(360deg) translate(150px, 0);
  }
}

@keyframes rotate5 {
  0% {
      transform: rotate(0deg) translate(160px, 0); 
  }
  100% {
      transform: rotate(360deg) translate(160px, 0);
  }
}

@keyframes rotate6 {
  0% {
      transform: rotate(0deg) translate(170px, 0); 
  }
  100% {
      transform: rotate(360deg) translate(170px, 0);
  }
}
@keyframes rotate7 {
  0% {
      transform: rotate(0deg) translate(180px, 0); 
  }
  100% {
      transform: rotate(360deg) translate(180px, 0);
  }
}
@keyframes rotate8 {
  0% {
      transform: rotate(0deg) translate(190px, 0); 
  }
  100% {
      transform: rotate(360deg) translate(190px, 0);
  }
}
@keyframes rotate9 {
  0% {
      transform: rotate(0deg) translate(200px, 0); 
  }
  100% {
      transform: rotate(360deg) translate(200px, 0);
  }
}







.container-s {
  overflow-x: hidden;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  display: flex;
}

.tech-stack {
  margin-bottom: 20px;
}

.tech-stack-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;/* Center the buttons horizontally */
}

.tech-stack-button {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 1px solid aqua;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#131313;
  font-size: 32px;
  opacity: 0.7;
  transition: transform 0.2s ease-in-out;
}

.tech-stack-button:hover{
  opacity: 1;
  transform: scale(1.15);
  
}


















/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .tech-stack-button {
    width: 50px; /* Adjusted width for smaller screens */
    height: 50px; /* Adjusted height for smaller screens */
  }
  
  .tech-stack-button img {
    max-width: 50px; /* Adjusted max-width for smaller screens */
    max-height: 50px; /* Adjusted max-height for smaller screens */
  }
  .container-s {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1100px){
  .container-s {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

