html, body { 
  
  height: 100%; width: 100%; 
  
}

@media (max-width:900px){
  html{
    overflow-x: hidden;
  }
}



body{
  background-color: #040404;
  margin: 0px;
  color: #b2b2b2;

 
  z-index: 200;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  
  


}




a{
  color: #aeaeae;
  text-decoration: none;
}

html{
  scroll-behavior: smooth ;
}