.feature-pro-text{
  height: max-content;
  

}
.feature-pro-container{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-top: 50px;
  flex-wrap: wrap;

}
.rps-game-con{
  margin-left: 50px;
}



.common-model{
  width: 400px;
  height: 400px;
  
  background-color: #131313;
  border-radius: 15px;
  transition:border-width 2px 0.6 ease;
  cursor: pointer;
  transition: box-shadow 0.6s ease;
  transition:opacity 0.3 0.6 ease;
}
.common-model:hover{
  box-shadow:0 0 20px #01d8c3;
  border-width: 10px;
  border-style: outset;
  border-color: #01d8c3;

  opacity:1;
} 

.style-container{
  align-self: center;
  width:360px ;
  height:300px ;
  
  
  
}
.text-project{
  color:#b2b2b2;
  margin-top: 30px;
  margin-left: 35px;
}

